attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
importlib-metadata==1.6.1
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
pytest-runner==5.2
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
wcwidth==0.2.3
zipp==3.1.0
